<button
  class="remove_button"
  (click)="removeCurrentCharacter()"
  title="Delete this character"
>
  &times;
</button>
<div class="character_info">
  <label>
    Name
    <input
      type="text"
      name="charName"
      [(ngModel)]="currentCharacter().name"
      (ngModelChange)="updateCharacter()"
    />
  </label>
  <label>
    Server
    <span
      class="circle"
      title="This data is only saved in your browser's Local Storage."
      >?</span
    >
    <select
      name="server"
      [(ngModel)]="currentCharacter().server"
      (ngModelChange)="updateCharacter()"
    >
      <option value="">Choose One</option>
      @for (region of environment.regions; track $index) {
        <optgroup [label]="region.name"></optgroup>
        @for (dataCenter of region.dataCenters; track $index) {
          <optgroup [label]="'&nbsp;&nbsp;' + dataCenter.name">
            @for (server of dataCenter.servers; track $index) {
              <option [value]="server">{{ server }}</option>
            }
          </optgroup>
        }
      }
    </select>
  </label>
  <label>
    Current Level
    <input
      type="number"
      name="currentLevel"
      step="1"
      [min]="1"
      [max]="currentCharacter().goalLevel"
      [(ngModel)]="currentCharacter().currentLevel"
      (blur)="correctCurrentLevel()"
      (ngModelChange)="updateCharacter()"
    />
  </label>
  <label>
    XP To Level
    <input
      type="number"
      name="currentProgress"
      [(ngModel)]="currentCharacter().currentProgress"
      (blur)="correctCurrentProgress()"
      (ngModelChange)="updateCharacter()"
    />
    / {{ xpLevel() }}
  </label>
  <div class="xp_total">
    <div
      class="xp_progress"
      [style.width]="
        (currentCharacter().currentProgress * 100) / xpLevel() > 100
          ? '100%'
          : (currentCharacter().currentProgress * 100) / xpLevel() + '%'
      "
    ></div>
  </div>
  <label>
    Goal Level
    <input
      type="number"
      name="goalLevel"
      step="1"
      [min]="currentCharacter().currentLevel"
      [max]="environment.levelThresholds.length - 1"
      [(ngModel)]="currentCharacter().goalLevel"
      (blur)="correctGoalLevel()"
      (ngModelChange)="updateCharacter()"
    />
  </label>
  <div>XP NEEDED: {{ xpNeeded() }}</div>
  <label>
    Goal Deadline
    <span
      class="circle"
      title="Determines if you can reach goal only using Daily Frontline. Green means it's possible. Yellow means too many losses will fail. Red means you cannot. Does not account for Loss Streak bonus."
      >?</span
    >
    <input
      type="date"
      name="goalDate"
      [(ngModel)]="currentDate"
      (ngModelChange)="updateCharacter()"
    />
  </label>
  @if (daysRemaining() != null) {
    <div>
      {{ daysRemaining() }} Reset{{ daysRemaining() != 1 ? "s" : "" }}
      Remaining.
      <span [class]="frontLineDailyWinsClass()">
        {{
          frontLineDailyWinsClass() === "daily-warning"
            ? "Potentially"
            : frontLineDailyWinsClass() === "daily-fail"
              ? "Not"
              : ""
        }}
        Doable through Daily Frontline Roulette
      </span>
    </div>
  }
</div>
<div class="win_section">
  <hgroup class="win_title win_title_section">
    <h2>
      Frontline
      <span
        class="circle"
        title="How many wins of each type required to get to the goal level. Click the + to add XP for the specified match"
        >?</span
      >
    </h2>
    <label>
      Frontline Loss Streak
      <span
        class="circle"
        title="How many third-place losses in a row you've had in Frontline. This will give you a bonus to XP. Increments on a third-place loss. Not affected on a second-place loss. Resets on a win."
        >?</span
      >
      <input
        type="number"
        name="cumulativeThirds"
        [min]="0"
        [max]="99"
        [(ngModel)]="currentCharacter().cumulativeThirds"
        (ngModelChange)="updateCharacter()"
      />
    </label>
  </hgroup>
  <div class="win_readout_section">
    <button
      class="add_win_button"
      title="Add Frontline Daily 1st Place"
      (click)="addFrontlineProgress(1, true)"
    >
      +
    </button>
    {{ frontLineDailyWins() }} Wins in
    <span [class]="frontLineDailyWinsClass()">Daily Frontline</span>
  </div>
  <div class="win_readout_section">
    <button
      class="add_win_button"
      title="Add Frontline Daily 2nd Place"
      (click)="addFrontlineProgress(2, true)"
    >
      +
    </button>
    {{ frontLineDailyLosses2() }} 2nd Place Losses in
    <span [class]="frontLineDailyLosses2Class()">Daily Frontline</span>
  </div>
  <div class="win_readout_section">
    <button
      class="add_win_button"
      title="Add Frontline Daily 3rd Place"
      (click)="addFrontlineProgress(3, true)"
    >
      +
    </button>
    {{ frontLineDailyLosses() }} 3rd Place Losses in
    <span [class]="frontLineDailyLossesClass()">Daily Frontline </span>
    <span
      class="circle"
      title="Note: Does not account for the bonus XP from a loss streak"
      >!</span
    >
  </div>
  <div class="win_readout_section">
    <button
      class="add_win_button"
      title="Add Frontline 1st Place"
      (click)="addFrontlineProgress(1, false)"
    >
      +
    </button>
    {{ frontLineWins() }} Wins in Frontline
  </div>
  <div class="win_readout_section">
    <button
      class="add_win_button"
      title="Add Frontline 2nd Place"
      (click)="addFrontlineProgress(2, false)"
    >
      +
    </button>
    {{ frontLineLosses2() }} 2nd Place Losses in Frontline
  </div>
  <div class="win_readout_section">
    <button
      class="add_win_button"
      title="Add Frontline 3rd Place"
      (click)="addFrontlineProgress(3, false)"
    >
      +
    </button>
    {{ frontLineLosses() }} 3rd Place Losses in Frontline
    <span
      class="circle"
      title="Note: Does not account for the bonus XP from a loss streak"
      >!</span
    >
  </div>
  <h2 class="win_title">Crystalline Conflict</h2>
  <div class="win_readout_section">
    <button
      class="add_win_button"
      title="Add Crystalline Conflict Win"
      (click)="addProgress(environment.crystallineWinExp)"
    >
      +
    </button>
    {{ crystallineWins() }} Wins in Crystalline Conflict
  </div>
  <div class="win_readout_section">
    <button
      class="add_win_button"
      title="Add Crystalline Conflict Loss"
      (click)="addProgress(environment.crystallineLossExp)"
    >
      +
    </button>
    {{ crystallineLosses() }} Losses in Crystalline Conflict
  </div>
  <h2 class="win_title">Rival Wings</h2>
  <div class="win_readout_section">
    <button
      class="add_win_button"
      title="Add Rival Wings Win"
      (click)="addProgress(environment.rivalWingsWinExp)"
    >
      +
    </button>
    {{ rivalWingsWins() }} Wins in Rival Wings
  </div>
  <div class="win_readout_section">
    <button
      class="add_win_button"
      title="Add Rival Wings Loss"
      (click)="addProgress(environment.rivalWingsLossExp)"
    >
      +
    </button>
    {{ rivalWingsLosses() }} Losses in Rival Wings
  </div>
</div>
